/** @format */
@use "../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin button {
	width: 80%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

.examTile {
	@include flexColumn;
	width: 100%;
	height: 100%;

	.buttonBox {
		@include flexColumn;

		width: 80%;
	}

	.examButton {
		@include button;

		background-color: #1b43ef;
	}

	.addExamButton {
		@include button;

		background-color: #fd8606;
	}
}

.hidden {
	visibility: hidden;
}
