/** @format */

@mixin button {
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// make the modal wide
.modal {
	min-width: 80%;

	// display the questions in a column
	.questions {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		// section them off between each other
		.section {
			@include flexColumn;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #000000;
		}

		// make the titles big and bold
		.titleText {
			font-weight: bolder;
			font-size: larger;
		}

		// indent the body text a bit
		.bodyText {
			margin-left: 10px;
		}
	}

	.closeButton {
		@include button;

		background-color: #1b34ef;
	}
}
