/** @format */

@use "../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@mixin button {
	width: 20%; //Change this to change the width of the button
	height: 40px;
	margin-bottom: 10px;
	border: none;
	background-color: #1b43ef;
	cursor: pointer;
}

.UploadImage {
	@include button;
	@include flexColumn;
	filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
	.text {
		position: absolute;
		width: 50%;
		font-size: 20px;
		color: #ffffff;
	}
	
}