/** @format */

// group reused styles in mixins
@mixin button {
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// ensure modal is at least 80% of its parent's width
.modal {
	min-width: 80%;

	// flex this and most children to ensure everything is dynamically centered
	.results {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.section {
			@include flexColumn;
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid #000000;
		}

		.titleText {
			font-weight: bolder;
			font-size: larger;
		}

		.bodyText {
			margin-left: 10px;
		}
	}

	.closeButton {
		@include button;

		background-color: #1b34ef;
	}
}
