/** @format */
@use "../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin button {
	width: 80%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

// style the entire box
.authWidget {
	@include flexColumn;
	width: 100%;
	height: 100%;

	.input {
		width: 80%;
		height: 62px;
		background-color: #f9f8f8;
		margin-bottom: 14px;
		border: none;
		box-sizing: border-box;
		padding-left: 10px;
	}

	// style the button box
	.buttonBox {
		@include flexColumn;

		width: 80%;
	}

	.loginButton {
		@include button;

		background-color: #1b43ef;
	}

	.registerButton {
		@include button;

		background-color: #01151b;
	}

	.forgotPassword {
		background-color: transparent;
		border: none;
		color: #1b43ef;
		cursor: pointer;
	}
}

// style the error messages
.errorHandling {
	@include flexColumn;
	width: 80%;

	.errorText {
		width: 100%;
		align-items: center;
		text-align: center;
		background-color: red;
		color: white;
		border-radius: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.exitButton {
		position: absolute;
		border: none;
		right: 0;
		margin-right: 10%;
		background-color: transparent;
		color: white;
		font-size: 20px;
	}
}
