{
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"insertPragma": true,
	"endOfLine": "lf",
	"tabWidth": 4
}