/** @format */

.answerContainer {
	flex-direction: column;
}

.questionsContainer {
	margin-bottom: 20px;
}

.directionsText {
	margin-bottom: 20px;
}

.multipleChoiceBox {
	display: flex;
	flex-direction: column;
}
