/** @format */

@mixin button {
	width: 20%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-flow: wrap;
}

@mixin flexRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-flow: wrap;
}

.dragnDropInput {
	@include flexColumn;

	.dragnDropRow {
		@include flexRow;
		width: 90%;

		.addDraggableButton {
			@include button;
			background-color: #1b43ef;
		}

		.keyValueInput {
			width: 70%;
			height: 62px;
			background-color: #f9f8f8;
			margin-right: 20px;
			margin-bottom: 10px;
			border: none;
			box-sizing: border-box;
			padding-left: 10px;
		}
	}

	.input {
		width: 90%;
		height: 62px;
		background-color: #f9f8f8;
		margin-bottom: 10px;
		border: none;
		box-sizing: border-box;
		padding-left: 10px;
	}
}

.instruction {
	width: 90%;
	justify-content: flex-start;
	margin-top: 20px;
}

.dragnDrop {
	@include flexColumn;
	width: 50%;
	height: 100%;
	flex-direction: column;
}

.addQuestion {
	@include button;

	width: 50%;
	margin-top: 20px;
	background-color: #1b43ef;
}

.hidden {
	visibility: hidden;
}
