/** @format */

@use "../../../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@mixin flexRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.takeExam {
	@include flexColumn;
	justify-content: flex-start;
	width: 100vw;
	height: 100vh;

	background: linear-gradient(0deg, #f5f5f5, #f5f5f5), #f5f5f5;

	.titleBar::before {
		content: "";
	}

	.titleBar {
		@include flexRow;
		width: 100vw;
		max-height: 10%;
		background-color: #c4c4c4;
		justify-content: space-between;

		.examName {
			font-size: 30px;
		}
	}

	.circleArrowButtons {
		@include flexRow;
		width: 100%;
	}

	.questionRow {
		@include flexRow;
		position: relative;
		width: 100%;

		.questionsToolBar {
			position: relative;
			width: 10%;
			min-width: 9%;
			height: 500px;
			display: flex;

			background: #b8dffe;
			border: 1px solid #000000;
			box-sizing: border-box;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
		}

		.questionsBox {
			@include flexColumn;
			// position: absolute;
			width: 70%;
			height: 500px;
			margin-left: 40px;

			background: #c4c4c4;
			border-radius: 10px;
		}
	}
}
