/** @format */

@use "../../../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background: linear-gradient(0deg, #f5f5f5, #f5f5f5), #f5f5f5;
}

/* Rectangle 13 */
.questionsBox {
	position: absolute;
	width: 70%;
	height: 72%;
	left: 221px;
	top: 182px;

	background: #c4c4c4;
	border-radius: 10px;
	@include flexColumn();
}

.questionsToolBar {
	position: fixed;
	width: 10%;
	min-width: 9%;
	height: 507px;
	max-height:507px;
	left: 34px;
	top: 123px;
	display: flex;

	background: #b8dffe;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.titleBar {
	position: absolute;
	width: 100%;
	height: 5%;
	background: #c4c4c4;
	display: flex;
}
