/** @format */

@use "../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@mixin button {
	width: 20%; //Change this to change the width of the button
	height: 40px;
	margin-bottom: 10px;
	border: none;
	background-color: #1b43ef;
	cursor: pointer;
}

.UploadImage {
	@include button;
	@include flexColumn;
	filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
	.text {
		position: absolute;
		width: 50%;
		font-size: 20px;
		color: #ffffff;
	}
}
/** @format */

// @use "../../styles/variables" as variables;

@mixin flexColumn {
	display: flex;
	justify-content: right;
	align-items: right;
	flex-direction: column;
	gap: 5px;
}

@mixin button {
	width: 50%;
	height: 40px;
	margin-bottom: 10px;
	border: none;
	color: #c4c4c4;
	cursor: pointer;
}

.modal {
	min-width: 80%;
}

.questionInput {
	@include flexColumn;
	margin: 5%;
}

.input {
	width: 100%;
	height: 62px;
	background-color: #f9f8f8;
	margin-bottom: 10px;
	border: none;
	box-sizing: border-box;
	padding-left: 10px;
}

.addQuestionButton {
	@include button;
	width: 100%;
	background-color: #1b43ef;
}

.select {
	width: 100%;
	height: 40px;
	border: none;
	background-color: #f9f8f8;
	margin-bottom: 10px;
}

.close {
	@include button;
	background-color: #fd8606;
}
