/** @format */

.submitExam {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 40px;
	border: none;
	background-color: #469924;
	color: #ffffff;
	filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5));
}
