/** @format */

.loginButton {
	position: absolute;
	width: 554px;
	height: 67px;
	left: 443px;
	top: 442px;

	background: #1b43ef;

	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	color: #c4c4c4;
}
