/** @format */

@use "../../styles/variables" as variables;

.loginButton {
	width: 525px;
	height: 70px;

	margin: 12px, 8px, 8px, 8px;

	background: #1b43ef;

	font-family: variables.$default-font;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	color: #c4c4c4;
}
