/** @format */

.answerContainer {
	flex-direction: column;
}

.questionsContainer {
	margin-bottom: 20px;
}

.directionsText {
	margin-bottom: 20px;
}

.multipleChoiceMultipleCorrectBox {
	display: flex;
	flex-direction: column;
}

// set size of image to ensure it fits appropriately on screen
.image {
	display: flex;
	width: 600px;
	height: 400px;
}
