/** @format */

// make drop objects a gray box
.dropBox {
	text-align: center;
	border: none;
	height: 100%;
	width: 50%;
	color: white;
	background-color: gray;
	border-radius: 5px;
	margin-bottom: 5px;
}
