/** @format */

@mixin flexColumn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-flow: wrap;
}

@mixin flexRow {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-flow: wrap;
}

.dragnDropRow {
	@include flexRow;
	width: 90%;
	margin-top: 10px;
}
.image {
	display: flex;
	width: 600px;
	height: 400px;
}

.dragnDrop {
	@include flexColumn;
	width: 50%;
	height: 100%;
	flex-direction: column;
}
