/** @format */

@use "../../styles/variables" as variables;
@import "~bootstrap/scss/bootstrap";

// Base styles that are assigned everywhere unless overridden

* {
	font-family: variables.$default-font;
	margin: 0;
}

.app {
	width: 100vw;
	height: 100vh;
	position: relative;
}
