/** @format */
@use "../../styles/variables" as variables;

.toolBoxLine1,
.toolBoxLine2,
.toolBoxLine3,
.toolBoxLine4,
.toolHalfBoxLine {
	position: absolute;
	width: 100%;
	height: 0;
	top: 260px;

	border: 1px solid #ffffff;
}

.toolBoxLine1 {
	top: 13%;
}

.toolBoxLine2 {
	top: 39%;
}

.toolHalfBoxLine {
	left: 8px;
	width: 80%;
	top: 26%;
}

.toolBoxLine3 {
	top: 63%;
}

.toolBoxLine4 {
	top: 85%;
}

.questionsToolBar {
	position: fixed;
	width: 100%;
	min-width: 9%;
	height: 507px;
	left: 34px;
	top: 123px;
	display: flex;

	background: #b8dffe;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
.questionsNotAnswered {
	position: fixed;
	width: 54px;
	height: 27px;
	left: 91px;
	top: 201px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-decoration-line: underline;

	color: #1b43ef;
}

.timeLeftOnExam,
.questionsCompleted,
.questionsNotCompleted,
.questionsFlagged {
	display: block;
	position: absolute;
	width: 54px;
	height: 27px;
	left: 42%;
	top: 14%;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	text-decoration-line: underline;

	color: #1b43ef;
}

.questionsCompletedText,
.questionsNotCompletedText,
.questionsFlaggedText,
.timeRemainingText {
	padding: 5px;
	display: flex;
	position: absolute;
	text-align: center;
	width: 30%;
	height: 16px;
	left: 28%;
	top: 20%;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 8px;
	line-height: 14px;

	color: #000000;
}
.timeRemainingText {
	top: 1%;
}

.timeLeftOnExam {
	top: 7%;
}

.questionsCompletedText {
	width: 100%;
}

.questionsNotCompleted {
	top: 28%;
}

.questionsNotCompletedText {
	top: 34%;
	width: 100%;
}

.flaggedIcon {
	font-family: "FontAwesome";
	font-size: x-large;
	position: absolute;
	color: #1b43ef;
	width: 60%;
	height: 103px;
	left: 40%;
	top: 40%;
}

.questionsFlagged {
	top: 50%;
}

.questionsFlaggedText {
	top: 55%;

	color: #000000;
}

.calculatorIcon {
	font-family: "FontAwesome";
	font-size: x-large;
	position: absolute;
	color: #1b43ef;
	width: 70%;
	left: 38%;
	top: 65%;
}

.helpIcon {
	font-family: "FontAwesome";
	font-size: x-large;
	position: absolute;
	color: #1b43ef;
	width: 70%;
	left: 36%;
	top: 75%;
}

.takeBreakIcon {
	font-family: "FontAwesome";
	font-size: x-large;
	position: absolute;
	color: #1b43ef;
	width: 70%;
	left: 36%;
	top: 88%;
}
