/** @format */

$color: #2e417fcd;

.questionToolBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 10%;
	background-color: #b8dffe;
	border: 1px solid #000000;
	box-shadow: 0 4px 4px #00000041;
	border-radius: 10px;
	color: $color;
	font-style: italic;

	.section {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
		border-bottom: 1px solid #ffffff;
	}

	.dividedSection {
		@extend .section;
		width: 80%;
		margin-bottom: 8px;
	}

	.lastSection {
		@extend .section;
		border-bottom: none;
	}

	.number {
		font-style: normal;
		font-weight: bold;
		font-size: larger;
		color: #1b43ef;
		text-decoration: underline;
		background-color: transparent;
		border: none;
	}

	.icon {
		font-family: "FontAwesome";
		font-size: x-large;
		color: #1b43ef;
		background-color: transparent;
		border: none;
	}
}
