/** @format */

// make drag objects a black box
.dragBox {
	border: none;
	height: 100%;
	width: 50%;
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 5px;
	margin-bottom: 5px;
}
