/** @format */

@use "../../styles/variables" as variables;

// move the arrow text if arrow is rotated
.leftArrow > .text {
	transform: rotate(180deg);
	text-align: right;
}

// rotate the arrow to the left if asked
.leftArrow {
	transform: rotate(180deg);
}

svg {
	vertical-align: unset;
	margin-bottom: 4px;
}

// make the button transparent except for the svg/text
.transparent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

// style the text on the button
.text {
	position: absolute;
	width: 50%;
	text-align: left;
	font-size: 10px;
	color: #ffffff;
}
