/** @format */

@use "../../styles/variables" as variables;

.leftArrow > .text {
	transform: rotate(180deg);
	text-align: right;
}

.leftArrow {
	transform: rotate(180deg);
}

svg {
	vertical-align: unset;
	margin-bottom: 4px;
}

.transparent {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.text {
	position: absolute;
	width: 50%;
	text-align: left;
	font-size: 10px;
	color: #ffffff;
}
